* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

.container {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel {
    height: 80%;
    width: 80%;
    margin: auto;
    position: relative; 
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* image box style ---------------------------------*/

#imageBox {
    height: 100%;
    width: 100%;
}

#imageBox .img {
    height: 100%;
    width: 100%;
    display: none;
}

#imageBox .img.active {
    display: block;
}

/* thumbnails box style ---------------------------------*/

#thumbnails {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#thumbnails .img {
    width: 100%;
    min-height: 0;
    opacity: 0.4;
}

#thumbnails .img.active {
    border: 2px white solid;
    opacity: 1;
}


/* arrows style -------------------------------- */

.arrowDown,
.arrowUp {
    position: absolute;
    color: white;
    right: calc(6.5%);
}

.arrowDown {
    bottom: 1rem;
}

.arrowUp {
    top: 1rem;
}